@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");

:root {
    --cor-de-fundo: #eaedf3;
    --branco: #FFFFFF;
    --laranja: #7a434d;
    --azul-degrade: linear-gradient(97.54deg, #fcb0b0 35.49%, #89324f 165.37%);
    --fonte-principal: "poppins";
    --azul: #fc9c9c;
    --texto-cor: #000000; 

    
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
   background-color: rgba(234, 240, 243, 0); 
}
.banner{
    background-color: rgba(234, 240, 243, 0); 
 }

